<ion-header class="bevco-outlet-page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/images/icon-white.svg">
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="delivery-login-page-content ion-padding" fulscreen>
  <ion-row class="welcome">
    <ion-col size="12">
      <h1></h1>
    </ion-col>
  </ion-row>
  <ion-list lines="full" class="login-form ion-padding" *ngIf="fpFormEnabled">
    <ion-row class="form-header">
      <ion-col size="12" class="ion-text-center">
        <ion-label>Forgot Your Password</ion-label>
      </ion-col>
    </ion-row>
    <form [formGroup]="fpForm" class="delivery-login-form-container">
      <ion-item class="form-input-section">
        <ion-input type="text" class="delivery-login-form-input-control" id="phone" placeholder="Mobile Number"
          formControlName="phone">
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.phone">
          <div class="error-message" *ngIf="fpForm.get('phone').hasError(validation.type) &&
            (fpForm.get('phone').dirty || fpForm.get('phone').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="ion-text-center send-otp">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="sendResetEmail()">
          Send OTP
        </ion-button>
      </div>
    </form>
  </ion-list>
  <ion-list lines="full" class="login-form ion-padding" *ngIf="!fpFormEnabled">
    <ion-row class="form-header">
      <ion-col size="12" class="ion-text-center">
        <ion-label>Set Yout Password</ion-label>
      </ion-col>
    </ion-row>
    <form [formGroup]="otpForm" class="delivery-login-form-container">
      <ion-item class="form-input-section">
        <ion-input type="text" class="delivery-login-form-input-control" id="otp" placeholder="Enter OTP"
          formControlName="otp">
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.otp">
          <div class="error-message" *ngIf="otpForm.get('otp').hasError(validation.type) &&
            (otpForm.get('otp').dirty || otpForm.get('otp').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item class="form-input-section">
        <ion-input type="text" class="delivery-login-form-input-control" id="new_password" placeholder="New Password"
          formControlName="new_password">
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.new_password">
          <div class="error-message" *ngIf="otpForm.get('new_password').hasError(validation.type) &&
            (otpForm.get('new_password').dirty || otpForm.get('new_password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item class="form-input-section">
        <ion-input type="text" class="delivery-login-form-input-control" id="confirm_password"
          placeholder="Confirm Password" formControlName="confirm_password">
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.confirm_password">
          <div class="error-message" *ngIf="otpForm.get('confirm_password').hasError(validation.type) &&
            (otpForm.get('confirm_password').dirty || otpForm.get('confirm_password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="ion-text-center send-otp">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="sendResetEmail()">
          Send OTP
        </ion-button>
      </div>
      <ion-row class="ion-text-center signup" (click)="fpFormEnabled = true">
        <ion-col size="12">
          <ion-label><b>Edit Number</b></ion-label>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

  <ion-row class="ion-text-center signup" (click)="cancelRequest()">
    <ion-col size="12">
      <ion-label><b>Login</b></ion-label>
    </ion-col>
  </ion-row>

</ion-content>