.ios {
  .scroll-content {
    -webkit-overflow-scrolling: auto !important;
  }
}
ion-content {
    --background: #FFF;
    div.splash-container {
        /* bottom: 0px; */
        height: 150px;
        left: 0px;
        margin-left: 32%;
        margin-right: 32%;
        margin-top: 55%;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 150px;
        img {
            height: 150px;
            width: 150px;
        }
    }
    p.app-title-section {
        border: #707070;
        /* bottom: 50%; */
        color: #868686;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
        left: 0;
        letter-spacing: 1px;
        line-height: 12px;
        margin-top: 95%;
        position: absolute;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        padding: 30px 60px;
        line-height: 2;
    }
    p.app-version-section {
        border: #707070;
        bottom: 2%;
        color: #474747;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: normal;
        left: 0;
        letter-spacing: 1px;
        line-height: 12px;
        position: absolute;
        right: 0;
        text-align: center;
        text-transform: uppercase;
    }
}