<ion-header class="bevco-outlet-page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/images/icon-white.svg">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="" fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row class="catergories">
      <ion-col size="1">

      </ion-col>
      <ion-col size="2" class="col-padding-5 ion-text-center" (click)="openProducts('All Deals')">
        <ion-label>All Deals</ion-label>
      </ion-col>
      <ion-col size="2" class="col-padding-5 ion-text-center" (click)="openProducts('Mobiles')">
        <ion-label>Mobiles</ion-label>
      </ion-col>
      <ion-col size="2" class="col-padding-5 ion-text-center" (click)="openProducts('Laptop')">
        <ion-label>Laptop</ion-label>
      </ion-col>
      <ion-col size="2" class="col-padding-5 ion-text-center" (click)="openProducts('Television')">
        <ion-label>Television</ion-label>
      </ion-col>
      <ion-col size="2" class="col-padding-5 ion-text-center" (click)="openProducts('Appliance')">
        <ion-label>Appliance</ion-label>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
    <ion-row class="prd-banner">
      <img src="./assets/images/banner.jpg">
    </ion-row>
    <ion-row class="deals">
      <ion-col size="8" class="col-padding-5 head">
        <ion-label>
          All Deals on electronic
        </ion-label>
      </ion-col>
      <ion-col size="4" class="ion-text-right col-padding-5 head">
        <ion-label class="filter">
          Filter
        </ion-label>
      </ion-col>
      <ion-col size="6" *ngFor="let deal of productList; let idx = index;" class="deal-prod"
        [style.border-right]="idx%2==0 ? '1px solid gray' : 'none'">
        <div class="prod-img">
          <img src="./assets/images/dummy-product.png">
        </div>
        <div class="prod-dtl">
          <h5>
            ₹ {{deal.product_price}}
          </h5>
          <ion-label>
            {{deal.product_name}}
          </ion-label>
          <ion-button expand="block" class="ion-no-margin" (click)="addToCart(deal)">
            Add to Cart
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>